
.home{
  min-height: 850px;
  display: flex;
  flex-direction: column;
  .home-top{
    display: flex;
    .home-top-left{
      min-width: 250px;
      width: 30%;
      height: 300px;
      padding: 30px 20px 60px 40px;
      font-size: 20px;
      p{
        font-weight: bold;
      }
    }
    .home-top-right{
      width: 70%;
      height: 350px;
      padding: 30px 20px 60px 40px;
    }
  }
  .home-bottom{

  }

}
.ant-statistic-title{
  font-weight: bold;
  color: rgba(0, 0, 0, .8);;
}